:root {
  --heading-font: "Sora", sans-serif;
  --body-font: "Roboto", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.yoga--classes--description {
  background-color: #498f78;
}

.yoga__btn {
  color: #000;
  font-family: var(--heading-font);
  font-size: 12px;
  background-color: #fff;
  border-radius: 20px;
  text-decoration: none;
  padding: 10px 20px;
  font-weight: 600;
  text-transform: uppercase;
}
.yoga--card__a {
  display: flex;
}
.yoga__btn__hover {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}
.yoga--classes--description__a {
  border-bottom: 1px solid #fff;
}
.yoga--instructor__a {
  border-bottom: 1px solid #000;
}
.yoga--classes--description--card h3 {
  margin: 0;
  font-size: 48px;
  color: #fff;
  font-family: var(--heading-font);
  font-weight: 400;
}
.card {
  background-color: transparent !important;
  border: none !important;
}
.yoga--instructor,
.blog--section {
  background-color: #e9f0ec;
}
.yoga--instructor--card .card {
  background-color: #fff !important;
  border-radius: 30px;
}
/* card hover */
.card:hover .yoga__btn__hover {
  background-color: #fff;
  color: #000;
}
.card:hover .card--arrow {
  background-color: #e1c366;
}
.card:hover .blog--card--arrow {
  background-color: #000;
}
.card:hover .blog--card--arrow {
  background-color: #000;
}
.card:hover .blog--card--arrow--icon {
  color: #fff;
}
.card:hover .blog--img--card {
  transform: scale(1.1);
}
.card__image {
  border-radius: 30px;
  position: relative;
}
.card__image a {
  display: block;
  overflow: hidden;
  border-radius: 30px;
}
.card__image a img {
  transition: transform 0.5s ease-in-out;
}
.card--arrow {
  position: absolute;
  bottom: -2px;
  right: 33px;
  background-color: #fff;
  padding: 16px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  transition: background-color 0.5s ease-in-out;
}
.card--arrow .material-symbols-outlined {
  transition: color 0.5s ease-in-out;
}
.blog--section--card--swiper:hover .arrow__hover {
  visibility: visible;
  transform: scale(1) translate(15px, -15px);
  color: #fff;
}
.arrow__hover {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scale(0.26) translate(15px, -10px);
  visibility: hidden;
  transition: transform 0.5s ease-in-out, visibility 0.5s ease-in-out !important;
}
.blog--section--card--swiper:hover .arrow__hover__hidden {
  visibility: hidden;
  color: #fff;
  transform: scale(0.26) translate(15px, -10px);
}
.blog--section--card--swiper .card__image a {
  overflow: hidden;
}
.blog--section--card--swiper:hover .img-fluid {
  transform: scale(1.1);
}
.arrow__hover__hidden {
  transition: transform 0.5s ease-in-out, visibility 0.5s ease-in-out !important;
}

.card--body__a a {
  color: #fff;
  font-family: var(--heading-font);
  font-size: 28px;
  font-weight: 500;
  text-decoration: none;
}
.card--body__a a:hover {
  color: #e1c366;
}
.card--body--class--details {
  display: flex;
}
.card--body--class--details p {
  margin: 0;
  font-size: 15px;
  font-weight: 400;
  font-family: var(--body-font);
  color: #fff;
}
.card--body--class--details span {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
}
.yoga--card--section {
  position: relative;
}
.yoga--card--section .card:hover .card-img-top {
  transform: scale(1.1);
}
.yoga--blog--description {
  background-color: transparent;
}
.blog__btn {
  border: 1px solid #000;
  background-color: transparent;
}
.yoga--blog--description__a {
  border-bottom: 1px solid #000;
}
.yoga--blog--description .yoga__btn__hover {
  color: #000;
  background-color: #fff;
  border: none;
}
.yoga--blog--description .yoga__btn__hover:hover {
  background-color: #498f78;
  color: #fff;
}
.yoga--blog--description .card--arrow {
  border-color: #fff;
  background-color: #e1c366;
}
.yoga--blog--description .card--body__a a,
.yoga--blog--description .card--body--class--details span,
.yoga--blog--description .card--body--class--details p,
.yoga--blog--description--card h3,
.yoga--instructor--card h3 {
  color: #000;
}
.yoga--blog--description .card__image a {
  overflow: hidden;
}
.yoga--blog--description .card__image a img {
  transition: transform 0.5s ease-in-out;
}
.yoga--rating i {
  color: #ffee00;
  font-size: 20px;
}
.yoga--instructor--card .card-body {
  padding: 2rem !important;
}
.yoga--instructor--card .card-body .card-text {
  color: #706f6f;
  font-size: 20px;
  font-family: var(--body-font);
  letter-spacing: 0.5px;
}
.card--profile__image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}
.card--profile__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.card--profile--text h6,
.card--profile--text p {
  margin: 0;
  font-family: var(--body-font);
  font-size: 16px;
  font-weight: 400;
}
.card--profile--text p {
  color: #706f6f;
}
.card-body {
  position: relative;
}
.yoga--card--section--swiper {
  position: relative;
}
.card--body--popup {
  position: absolute;
  top: 0px;
  right: 9px;
}
.card--body--popup i {
  background-color: #498f78;
  padding: 13px;
  border-radius: 50%;
  color: #fff;
}

.card--body__text p {
  margin: 0;
  font-family: var(--body-font);
  font-weight: 400;
  font-size: 15px;
  color: #706f6f;
}
.card--body__heading {
  margin: 0;
  font-family: var(--heading-font);
  font-size: 26px;
  font-weight: 400;
}
.blog--section--card .card__image {
  width: 320px;
  height: 340px;
  overflow: hidden;
}
.blog--section--card .card__image a {
  width: 320px;
  height: 340px;
  overflow: hidden;
}
.blog--section--card .card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blog--section .card {
  border-radius: 30px;
}
.blog--card--body__line {
  width: 100%;
  height: 2px;
  background-color: #e7e6e6;
  z-index: 1;
}
.blog--card--body__line::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}
.blog--section--card
  .blog--section--card--swiper:hover
  .blog--card--body__line::before {
  transform: scaleX(1);
}
.blog--btn__hover {
  transition: all 0.5s ease-in-out;
  padding: 5px 15px;
}
.blog--section--card .blog--section--card--swiper:hover .blog--btn__hover {
  background-color: #000;
  color: #fff;
}
.blog--section--card .card .card-body {
  position: relative;
}
.blog--card--arrow {
  border-color: #e9f0ec;
  background-color: #e5c466;
}

.blog--section--card .blog--section--card--swiper:hover .blog--card--arrow {
  background-color: #498f78;
  color: #fff;
}
.yoga--card {
  clip-path: polygon(
    6.726% 100%,
    93.274% 100%,
    93.274% 100%,
    94.364% 99.896%,
    95.399% 99.594%,
    96.364% 99.111%,
    97.245% 98.464%,
    98.029% 97.668%,
    98.701% 96.741%,
    99.249% 95.698%,
    99.657% 94.556%,
    99.912% 93.332%,
    100% 92.042%,
    100% 28.912%,
    100% 28.912%,
    99.732% 25.399%,
    98.988% 22.786%,
    97.863% 20.91%,
    96.447% 19.608%,
    94.835% 18.717%,
    93.119% 18.071%,
    91.39% 17.508%,
    89.742% 16.865%,
    88.268% 15.977%,
    87.061% 14.682%,
    87.061% 14.682%,
    86.147% 12.968%,
    85.483% 11.096%,
    84.946% 9.146%,
    84.409% 7.198%,
    83.749% 5.331%,
    82.839% 3.624%,
    81.556% 2.158%,
    79.775% 1.012%,
    77.369% 0.266%,
    74.215% 0%,
    6.726% 0%,
    6.726% 0%,
    5.636% 0.104%,
    4.601% 0.406%,
    3.636% 0.889%,
    2.755% 1.536%,
    1.971% 2.332%,
    1.299% 3.259%,
    0.751% 4.302%,
    0.343% 5.444%,
    0.088% 6.668%,
    0% 7.958%,
    0% 92.042%,
    0% 92.042%,
    0.088% 96.332%,
    0.343% 94.556%,
    0.751% 95.698%,
    1.299% 96.741%,
    1.971% 97.668%,
    2.755% 98.464%,
    3.636% 99.111%,
    4.601% 99.594%,
    5.636% 99.896%,
    6.726% 100%
  );
}
.blog--card--swiper {
  clip-path: polygon(
    0% 0%,
    92.788% 0%,
    92.788% 0%,
    93.958% 0.111%,
    95.067% 0.432%,
    96.101% 0.947%,
    97.046% 1.636%,
    97.887% 2.483%,
    98.608% 3.471%,
    99.195% 4.581%,
    99.632% 5.797%,
    99.906% 7.101%,
    100% 8.475%,
    100% 69.209%,
    100% 69.209%,
    99.712% 72.951%,
    98.915% 75.734%,
    97.709% 77.731%,
    96.191% 79.118%,
    94.463% 80.067%,
    92.622% 80.755%,
    90.769% 81.354%,
    89.003% 82.039%,
    87.422% 82.985%,
    86.127% 84.364%,
    86.127% 84.364%,
    85.148% 86.19%,
    84.436% 88.183%,
    83.86% 90.259%,
    83.285% 92.334%,
    82.577% 94.323%,
    81.602% 96.14%,
    80.226% 97.702%,
    78.316% 98.922%,
    75.737% 99.716%,
    72.356% 100%,
    0% 100%
  );
}
.yoga--classes--description .card__image {
  clip-path: polygon(
    6.772% 0%,
    93.228% 0%,
    93.228% 0%,
    94.326% 0.099%,
    95.367% 0.386%,
    96.339% 0.846%,
    97.226% 1.463%,
    98.016% 2.22%,
    98.693% 3.103%,
    99.244% 4.096%,
    99.655% 5.182%,
    99.911% 6.348%,
    100% 7.576%,
    100% 72.475%,
    100% 72.475%,
    99.73% 75.82%,
    98.982% 78.307%,
    97.848% 80.093%,
    96.423% 81.332%,
    94.8% 82.182%,
    93.072% 82.796%,
    91.332% 83.332%,
    89.673% 83.944%,
    88.189% 84.789%,
    86.973% 86.023%,
    86.973% 86.023%,
    86.053% 87.654%,
    85.385% 89.436%,
    84.844% 91.292%,
    84.304% 93.147%,
    83.639% 94.925%,
    82.723% 96.55%,
    81.431% 97.945%,
    79.638% 99.036%,
    77.216% 99.746%,
    74.041% 100%,
    6.772% 100%,
    6.772% 100%,
    5.674% 99.901%,
    4.633% 99.614%,
    3.661% 99.154%,
    2.774% 98.537%,
    1.984% 97.78%,
    1.307% 96.897%,
    0.756% 95.904%,
    0.345% 94.818%,
    0.089% 93.652%,
    0% 92.424%,
    0% 7.576%,
    0% 7.576%,
    0.089% 6.348%,
    0.345% 5.182%,
    0.756% 4.096%,
    1.307% 3.103%,
    1.984% 2.22%,
    2.774% 1.463%,
    3.661% 0.846%,
    4.633% 0.386%,
    5.674% 0.099%,
    6.772% 0%
  );
}
.blog--section--card--swiper {
  position: relative;
}
.yoga--classes--images {
  position: relative;
}
.yoga--arrow {
  bottom: -6px;
  right: 0px;
}
/* swiper css */
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper {
  margin-left: auto;
  margin-right: auto;
}
.swiper-button-next {
  top: -60px !important;
  right: 60px !important;
}

.swiper-button-prev {
  top: -60px !important;
  left: 1090px !important;
}
.swiper-button-next,
.swiper-button-prev {
  color: #fff !important;
  border: 1px solid #fff;
  padding: 0 30px;
  border-radius: 10px;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #000 !important;
  background-color: #fff;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px !important;
}
.yoga--blog--description .swiper-button-next,
.yoga--blog--description .swiper-button-prev,
.yoga--instructor--card .swiper-button-next,
.yoga--instructor--card .swiper-button-prev,
.swiper-button-next-blog,
.swiper-button-prev-blog {
  color: #000 !important;
  border: 1px solid #000 !important;
}
.yoga--blog--description .swiper-button-next:hover,
.yoga--blog--description .swiper-button-prev:hover,
.yoga--instructor--card .swiper-button-next:hover,
.yoga--instructor--card .swiper-button-prev:hover,
.swiper-button-next-blog:hover,
.swiper-button-prev-blog:hover {
  color: #fff !important;
  background-color: #000 !important;
}

/* contact--section */
.contact {
  background-color: #e9f0ec;
}
.contact--section--card__icon > div > span {
  color: #000;
  background-color: #fff;
  padding: 20px;
  border-radius: 50%;
  font-size: 30px;
  margin: 10px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: color 0.5s ease-in-out;
}
.contact--section--card__icon > div > span::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  background-color: #000;
  border-radius: 50%;
  transition: transform 0.5s ease-in-out;
  transform: scale(0);
}
.contact--section--card:hover .icon__hover::before {
  transform: scale(1.5);
}
.contact--section--card:hover .icon__hover {
  color: #fff;
}
.contact--section--card__icon > div {
  border: 3px solid #498f78;
  border-radius: 50%;
  width: 98px;
  height: 98px;
}
.contact--section--card__text h3,
.contact--section--card__text p {
  margin: 0;
}
.contact--section--card__text h3 {
  font-family: var(--heading-font);
  font-size: 22px;
  font-weight: 500;
  color: #000;
  border-bottom: 1px solid #cdcdcd;
}
.contact--section--card__text p {
  font-family: var(--body-font);
  font-size: 16px;
  font-weight: 400;
  color: #706f6f;
}
.contact--section--card__text p a {
  color: #706f6f;
  text-decoration: none;
}
.contact--title__text h3 {
  font-family: var(--heading-font);
  font-size: 48px;
  font-weight: 500;
  margin: 0;
}
.contact--title__text p {
  font-family: var(--body-font);
  font-size: 16px;
  font-weight: 400;
  color: #706f6f;
  margin: 0;
}
.contact--section--left {
  background-color: #fff;
  border-radius: 30px;
  padding: 58px 45px;
}
.contact--section--left form h4 {
  font-family: var(--heading-font);
  font-size: 32px;
  font-weight: 500;
  margin: 0;
}
.contact--section--left form > div input[type="text"] {
  width: 49%;
  padding: 20px 5px;
  border-top: none;
  border-right: none;
  border-left: none;
}
.contact--section--left form > div input:focus-visible {
  outline: none;
}
.contact--section__message {
  width: 100% !important;
  padding: 20px 5px 40px 5px;
  border-top: none;
  border-right: none;
  border-left: none;
}
.contact--section--left form > div button {
  padding: 10px 40px 10px 20px;
  border-radius: 30px;
  background-color: #498f78;
  border: none;
  outline: none;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  font-weight: 500;
  transition: all 0.5s ease-in-out;
}
.contact--section--left form > div button:hover {
  background-color: #000;
  color: #fff;
}
.contact--section--left form > div button .btn-arrow {
  position: absolute;
  top: 10px;
  right: -20px;
}
.contact--section--left form > div button .btn-arrow .btn-arrow_hover {
  position: absolute;
  top: 0px;
  right: 30px;
  transition: all 0.5s ease-in-out;
}
.contact--section--left form > div button .btn-arrow .btn-arrow__hover__hidden {
  transition: all 0.5s ease-in-out;
  top: 13px;
  right: 44px;
  position: absolute;
  font-size: 22px;
  transform: scale(0.26) translate(13px, -12px);
  visibility: hidden;
}
.contact--section--left form > div button:hover .btn-arrow__hover__hidden {
  transform: scale(1) translate(13px, -12px);
  visibility: visible;
}
.contact--section--left form > div button:hover .btn-arrow_hover {
  transform: scale(0.26) translate(13px, -12px);
  visibility: hidden;
}
.contact--card {
  background-color: #498f78;
  border-radius: 20px;
  width: 100%;
  clip-path: polygon(
    6.772% 0%,
    93.228% 0%,
    93.228% 0%,
    94.326% 0.099%,
    95.367% 0.386%,
    96.339% 0.846%,
    97.226% 1.463%,
    98.016% 2.22%,
    98.693% 3.103%,
    99.244% 4.096%,
    99.655% 5.182%,
    99.911% 6.348%,
    100% 7.576%,
    100% 72.475%,
    100% 72.475%,
    99.73% 75.82%,
    98.982% 78.307%,
    97.848% 80.093%,
    96.423% 81.332%,
    94.8% 82.182%,
    93.072% 82.796%,
    91.332% 83.332%,
    89.673% 83.944%,
    88.189% 84.789%,
    86.973% 86.023%,
    86.973% 86.023%,
    86.053% 87.654%,
    85.385% 89.436%,
    84.844% 91.292%,
    84.304% 93.147%,
    83.639% 94.925%,
    82.723% 96.55%,
    81.431% 97.945%,
    79.638% 99.036%,
    77.216% 99.746%,
    74.041% 100%,
    6.772% 100%,
    6.772% 100%,
    5.674% 99.901%,
    4.633% 99.614%,
    3.661% 99.154%,
    2.774% 98.537%,
    1.984% 97.78%,
    1.307% 96.897%,
    0.756% 95.904%,
    0.345% 94.818%,
    0.089% 93.652%,
    0% 92.424%,
    0% 7.576%,
    0% 7.576%,
    0.089% 6.348%,
    0.345% 5.182%,
    0.756% 4.096%,
    1.307% 3.103%,
    1.984% 2.22%,
    2.774% 1.463%,
    3.661% 0.846%,
    4.633% 0.386%,
    5.674% 0.099%,
    6.772% 0%
  );
}
.contact--card--details {
  position: relative;
}
.contact--card__image a {
  display: block;
  width: 525px;
  height: 290px;
  overflow: hidden;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.contact--card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contact--card__text {
  padding: 20px;
}
.contact--card__text h3 {
  margin: 0;
  font-family: var(--heading-font);
  font-weight: 500;
  color: #fff;
  font-size: 32px;
}
.contact--card__text span {
  font-family: var(--body-font);
  font-size: 20px;
  color: #e1c366;
  font-weight: 400;
}
.contact--card__text p {
  margin: 0;
  font-family: var(--body-font);
  font-weight: 400;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
}
.contact--card--share {
  position: absolute;
  bottom: 15px;
  right: 5px;
  transition: all 0.5s ease-in-out;
}
.contact--card--share span {
  background-color: #fff;
  padding: 20px;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
}
.contact--card--share span:hover {
  transform: rotate(180deg);
  background-color: #e1c366;
}

.contact--card--social {
  position: absolute;
  bottom: 10px;
  right: 40px;
  transform: translate(0px, 0);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.contact--card--social i {
  font-size: 26px;
  padding: 10px;
  background-color: #fff;
  border-radius: 50%;
  margin-right: 0.5rem;
  transition: all 0.5s ease-in-out;
}
.contact--card--social .bxl-facebook {
  transform: translate(0, 0);
}
.contact--card--social .bxl-twitter {
  transform: translate(43px, 0);
}
.contact--card--social .bxl-linkedin {
  transform: translate(86px, 0);
}
.contact--card--social .bxl-instagram {
  transform: translate(129px, 0);
}
.contact--card--share:hover .contact--card--social {
  opacity: 1;
}
.contact--card--share:hover .bxl-facebook {
  transform: translate(-40px, 0);
}
.contact--card--share:hover .bxl-twitter {
  transform: translate(-40px, 0);
}
.contact--card--share:hover .bxl-linkedin {
  transform: translate(-40px, 0);
}
.contact--card--share:hover .bxl-instagram {
  transform: translate(-40px, 0);
}
